/* Inserta tu codigo que es común para todas las páginas aqui */
/*AQUI EL ESTILO GENERAL PARA TODOS*/
*
{
  margin: 0;
  padding: 0;
  font-family: 'DolceVita', cursive;
}
@import url('https://fonts.googleapis.com/css?family=Merienda+One|Permanent+Marker|Rock+Salt|Sacramento|Tangerine');
/*AQUI EL HEADER*/
header { 
	padding: 20px 0px; 
	background: url("../img/color%20gin.jpg") no-repeat;
	background-size: cover; 
}
header .menu ul li 
{ 
	margin: 10px 20px; 
	text-decoration:none;

    
}
header .menu ul li a { 
	text-decoration:none;
  font-size: 20px;
 
 }


header h1{
	color: white;



 }

/*PARTE DEL CONTACTANOS*/
.contacto{
  background: url(../img/15151284_10209693427565373_452211700_n.jpg) right no-repeat;
  background-size: 150%;
  background-position:100%;
  padding: 30px;
}
.contacto form{
  width: 500px;
  margin-top: 60px;
  margin-left: 30px;
}
.contacto form h3{
  color: rgb(26, 41, 82);
  margin-bottom: 30px;
  font-size: 30px;
}
.left-inner-addon {
    position: relative;
}
.left-inner-addon input {
    padding-left: 30px;
}
.left-inner-addon textarea[type="mensaje"]
{
  padding-left: 30px;
}
.left-inner-addon i 
{
  position: absolute;
  padding: 10px 12px;
  pointer-events: none;
}
.right-inner-addon
{
    position: relative;
}
.right-inner-addon input 
{
  padding-right: 30px;
}
.right-inner-addon i 
{
  position: absolute;
}
.contacto button
{
  padding: 20px 1px;
  background: #6A0915;
  color:#fff;
  border-radius: 5px;
  border: none;
  width: 500px;
  margin: 10px 1px;
}
/*Esta es la seccion de la FRASE MOTIVADORA*/
.frase_motivadora
{
  background: url("../img/color%20gin.jpg") no-repeat;
  background-size: cover;
}
.frase h3
{   
  font-size: 30px;
  font-family: 'Tangerine', cursive;
  margin: 80px 0px; 
}
/*AQUI EL FOOTER*/
footer{
	background-color:  #6A0915;
	color: white;
	padding:10px 20px; 
	width: 100%;
	height: 50px;
}
