*
{
  margin: 0;
  padding: 0;
}
/*---------Hero Section --------------------*/

.hero-section {
	background: url("../img/gregorio.jpg") no-repeat;
	background-size: cover;
	height: 610px;
}
.hero-section .nosotros{
	background-color: rgba(1240,47,23,0.2);
	text-align: center;
	width: 700px;
	position: absolute;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, 50%);
}
.nosotros h3,p {
	text-align: center;
	color: white;
	padding: 5px;
}
/*-----  pilar-section ----------------------------------*/
.pilar-section{
	background: url("../img/color%20gin.jpg");
	height: 400px;
	width: 100%;
    
}
.pilar-section .pilar{
	width: 260px;
	position: absolute;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, 50%);
}
.pilar h3{
	border-bottom: 1px solid black;
	margin:5px;
	padding: 10px;
	color: black;
	text-align: center;
}
.pilar p{
	text-align: center;
	color: black;
}
/*---------- Instructores Section-----------------------------------*/
.container-instructores
{
	padding: 30px 40px;
}
.container-instructores .col-md-8
{
	margin-left: -10px;
    text-align: center;
}

.container-instructores img{
	width: 200px;
	height: 130px;
}

.container-instructores p{
	color: black;
	text-align: left;
	margin-left: -10px;
}
.container-instructores h3{
	color: black;
	text-align: center;
}
.fila2
{
	margin-top: 20px;
}

